
*{
    margin: 0;
    padding: 0;
    
}
.gameboard{
    border: solid black;

    width: 80vw;
    height: 80vh;
    margin: auto auto;
    position: absolute;
    top: 15vh;
    left: 10vw;
    /* background-color: grey; */
    overflow: hidden;
    
}
h2{
    position: absolute;
    top: 5vh;
    left: 65vw;
    
}
.highestscore{
    display: inline;
    position: absolute;
    top: 5vh;
    left: 25vw;
    font-size: x-large;
}
.player1{
    /* border: solid black; */
    /* background-color: red; */
    width: 2vw;
    height: 5vh;
    position: absolute;
    top: 45vh;
    left: 5vw;
    z-index: 10;
    transition: transform 0.5s ease;
    
}




.fullscreen{
    position: absolute;
    top: 2vh;
    right: 2vh;
    cursor: pointer;

}



.retry{
    position: absolute;
    top: 2vh;
    left: 2vh;
    cursor: pointer;
    display: none;
}


.obstacle {
    position: absolute;
    width: 50px;
    height: 150px; 
    background-color: green;
   
}
.footer{
    position:absolute;
    top:100vh;
}

@keyframes moveObstacle {
    from {
        transform: translateX(100%); /* Starting position outside the right edge of the screen */
    }

    to {
        transform: translateX(-10000000vw); /* Ending position outside the left edge of the screen */
    }
}


